/*
*
* Create by Wayne(WJDesign) 2019.02.09
*
*/
@charset "UTF-8";

.CompanyLoginWrapper {
    width: 100%;
}
.CompanyLoginWrapper .CompanyLoginImg {
    width: 100%;
    margin-bottom: 10px;
}
.CompanyLoginWrapper .CompanyMenuWrapper .CompanyMenu {
    display: flex;
    margin-bottom: 10px;
}
.CompanyLoginWrapper .CompanyMenuWrapper .CompanyMenu li {
    flex: 1;
}
.CompanyLoginWrapper .CompanyMenuWrapper .CompanyMenu li a img {
    padding: 5px;
}
.CompanyLoginWrapper .CompanyMenuWrapper .CompanyMenu li a {
    width: 100%;
}

/*LastestNews*/
.LastestNewsWrapper .LastestNews ul li {
    width: 25%;
    float: left;
    padding: 10px;
}
.LastestNewsWrapper .LastestNews ul li a {
    width: 100%;
    height: 160px;
    cursor: pointer;
    display: block;
    position: relative;
    transition: .3s;
}
.LastestNewsWrapper .LastestNews ul li a:hover {
    filter: brightness(110%);
}
.LastestNewsWrapper .LastestNews ul li .FileDownload {
    background: url(../images/CompanyLogin/icon1.jpg) no-repeat center center;
    background-size: cover;
}
.LastestNewsWrapper .LastestNews ul li .RuleMsg {
    background: url(../images/CompanyLogin/icon2.jpg) no-repeat center center;
    background-size: cover;
}
.LastestNewsWrapper .LastestNews ul li .InnoceMsg {
    background: url(../images/CompanyLogin/icon3.jpg) no-repeat center center;
    background-size: cover;
}
.LastestNewsWrapper .LastestNews ul li a span {
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: rgba(0,0,0,.5);
    color: #fff;
    text-decoration: none;
    width: 100%;
    text-align: center;
    line-height: 30px;
    letter-spacing: 1px;
}

/*Login*/
.CompanyLoginWrapper .LoginWrapper {
    width: 40%;
    margin: 10px auto 120px;
}
.CompanyLoginWrapper .LoginWrapper .Login {
    margin: 10px auto;
    padding: 0 10px;
    display: flex;
}
.CompanyLoginWrapper .LoginWrapper .Login .LoginIntranet {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.LoginWrapper .Login .LoginIntranet form {
    width: 100%;
}
.LoginWrapper .Login .LoginIntranet .form-group {
    margin-bottom: 0;
}
.LoginWrapper .Login .LoginIntranet .Remember {
    vertical-align: middle;
    font-size: 16px;
    line-height: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
}
.LoginWrapper .Login .LoginIntranet label .SubTitle {
    font-size: 12px;
    color: #aaa;
    margin-left: -5px;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
    display: inline-block;
}
.LoginWrapper .Login .LoginIntranet .Remember label {
    font-size: 12px;
}
.LoginWrapper .Login .LoginIntranet .Remember input {
    border-radius: 50%;
    border: 0;
    box-shadow: none;
    display: inline-block;
    vertical-align: bottom;
    width: 25px;
    height: 25px;
    background-size: cover;
    float: left;
    margin-right: -5px;
}
.LoginWrapper .Login .LoginIntranet .BtnWrapper {
    display: flex;
    margin: 10px 0;
}
.LoginWrapper .Login .LoginIntranet .BtnWrapper a {
    flex: 1;
}

/*Honorlist*/
.Honorlist {
    width: 100%;
    display: flex;
    height: 90px;
    background: #dbe4e4;
    margin: 40px auto;
    align-items: center;
    text-align: center;
}
.Honorlist .HonorList {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}
.Honorlist .HonorList h6 {
    color: #fff;
    font-size: 20px;
    z-index: 1;
    transition: all .3s ease-out;
}
.Honorlist .HonorList:hover h6 {
    transform:scale(1.1,1.1);
}
.Honorlist .HonorList h6 i {
    margin-right: 5px;
    font-size: 16px;
}
.Honorlist .HonorList img {
    position: absolute;
    z-index: 0;
    height: 90px;
}
.Honorlist .HonorCardSearch {
    background: #deba7c;
}
.Honorlist .HonorCardSearch:before {
    content: '';
    position: absolute;
    right: -45px;
    top: 0;
    z-index: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 45px 45px 0 0;
    border-color: #deba7c transparent transparent transparent;
}
.Honorlist .RecordBookSearch {
    background: #937cde;
}
.Honorlist .RecordBookSearch:before {
    content: '';
    position: absolute;
    left: -45px;
    bottom: 0;
    z-index: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 45px 45px;
    border-color: transparent transparent #937cde transparent;
}
.PracticeWrapper {
    width: 100%;
}
.PracticeWrapper .Practice .PracticeContent {
    width: 100%;
    min-height: 300px;
    background: #eee;
}

/*RegisterModal - 單位註冊*/
#RegisterModal .modal-body {
    max-height: 70vh;
    overflow-y: scroll;
    padding: 20px 30px;
}
#RegisterModal .modal-body .tab-content {
    padding-top: 20px;
}
.RegisterWrapper {
    display: flex;
}
.RegisterWrapper .IntranetRegister {
    flex: 1;
}
.RegisterWrapper .IntranetRegister form:not(:last-child) {
    margin-bottom: 40px;
}
.RegisterWrapper .IntranetRegister .Tips {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.BtnWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}
.BtnWrapper a {
    flex: 1;
}
.BtnWrapper a:first-child {
    margin-right: 15px;
}