/*
*
* Create by Wayne(WJDesign) 2019.02.09
*
*/
@charset "UTF-8";

.CompanyLoginWrapper {
    width: 100%;
}
.CompanyLoginWrapper .CompanyLoginImg {
    width: 100%;
    margin-bottom: 10px;
}
.CompanyLoginWrapper .CompanyMenuWrapper .CompanyMenu {
    display: flex;
    margin-bottom: 10px;
}
.CompanyLoginWrapper .CompanyMenuWrapper .CompanyMenu li {
    flex: 1;
}
.CompanyLoginWrapper .CompanyMenuWrapper .CompanyMenu li a img {
    padding: 5px;
}
.CompanyLoginWrapper .CompanyMenuWrapper .CompanyMenu li a {
    width: 100%;
}

/*LastestNews*/
.LastestNewsWrapper .LastestNews ul li {
    width: 25%;
    float: left;
    padding: 10px;
}
.LastestNewsWrapper .LastestNews ul li a {
    width: 100%;
    height: 160px;
    cursor: pointer;
    display: block;
    position: relative;
    transition: .3s;
}
.LastestNewsWrapper .LastestNews ul li a:hover {
    filter: brightness(110%);
}
.LastestNewsWrapper .LastestNews ul li .FileDownload {
    background: url(../images/CompanyLogin/icon1.jpg) no-repeat center center;
    background-size: cover;
}
.LastestNewsWrapper .LastestNews ul li .RuleMsg {
    background: url(../images/CompanyLogin/icon2.jpg) no-repeat center center;
    background-size: cover;
}
.LastestNewsWrapper .LastestNews ul li .InnoceMsg {
    background: url(../images/CompanyLogin/icon3.jpg) no-repeat center center;
    background-size: cover;
}
.LastestNewsWrapper .LastestNews ul li a span {
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: rgba(0,0,0,.5);
    color: #fff;
    text-decoration: none;
    width: 100%;
    text-align: center;
    line-height: 30px;
    letter-spacing: 1px;
}

/*Honorlist*/
.Honorlist {
    width: 100%;
    margin: 40px auto;
}
.Honorlist .HonorlistWrapper {
    width: 100%;
    display: flex;
    height: 90px;
    align-items: center;
    text-align: center;
    position: relative;
}
.Honorlist .HonorList {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}
.Honorlist .HonorList h6 {
    color: #fff;
    font-size: 20px;
    z-index: 1;
    transition: all .3s ease-out;
}
.Honorlist .HonorList:hover h6 {
    transform:scale(1.1,1.1);
}
.Honorlist .HonorList h6 i {
    margin-right: 5px;
    font-size: 16px;
}
.Honorlist .HonorList h6 .subText {
    display: block;
    font-size: 12px;
    letter-spacing: 1px;
    padding-left: 16px;
    margin-top: 2px;
    color: rgba(255, 255, 255, .8);
}
.Honorlist .HonorList img {
    position: absolute;
    z-index: 0;
    height: 90px;
}
.Honorlist .HonorCardSearch {
    background: #fe9645; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffd53a 0%, #fe9645 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffd53a 0%,#fe9645 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffd53a 0%,#fe9645 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd53a', endColorstr='#fe9645',GradientType=0 ); /* IE6-9 */
    border-top-left-radius: 50em;
    border-bottom-left-radius: 50em;
}
.Honorlist .RecordBookIcon {
    position: absolute;
    width: 100px;
    left: 40px;
    top: -18px;
}
.Honorlist .RecordBookSearch {
    background: #229a72; /* Old browsers */
    background: -moz-linear-gradient(top,  #2fe2a8 0%, #229a72 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #2fe2a8 0%,#229a72 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #2fe2a8 0%,#229a72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fe2a8', endColorstr='#229a72',GradientType=0 ); /* IE6-9 */
    border-top-right-radius: 50em;
    border-bottom-right-radius: 50em;
}
.Honorlist .HonorCardIcon {
    position: absolute;
    width: 100px;
    right: 45px;
    top: -22px;
}
.PracticeWrapper {
    width: 100%;
}
.PracticeWrapper .Practice .PracticeContent {
    width: 100%;
    min-height: 300px;
    background: #eee;
}

/*RegisterModal - 單位註冊*/
#RegisterModal .modal-body {
    max-height: 70vh;
    overflow-y: scroll;
    padding: 20px 30px;
}
#RegisterModal .modal-body .tab-content {
    padding-top: 20px;
}
.RegisterWrapper {
    display: flex;
}
.RegisterWrapper .IntranetRegister {
    flex: 1;
}
.RegisterWrapper .IntranetRegister form:not(:last-child) {
    margin-bottom: 40px;
}
.RegisterWrapper .IntranetRegister .Tips {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.BtnWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}
.BtnWrapper a {
    flex: 1;
}
.BtnWrapper a:first-child {
    margin-right: 15px;
}

/*AddActiveModal - 新增活動訊息*/
#AddActiveModal .BtnAddActive,
#RecruitModal .BtnAddActive {
    margin-bottom: 15px;
}
#AddActiveModal .ActiveTable {
    margin-bottom: 0;
}
#AddActiveModal .ActiveTable tr:hover td {
    background: #fffdda;
}
#AddActiveModal .ActiveTable tr td {
    vertical-align: middle;
}
#AddActiveModal .Type_A {
    color: #f72828;
}
#AddActiveModal .Type_B {
    color: #10c100;
}
#AddActiveModal .AddActiveForm,
#RecruitModal .AddActiveForm {
    max-height: 50vh;
    margin-bottom: 15px;
    overflow-y: auto;
}

/*榮譽卡/記錄冊查詢Modal*/
#RegisterBookSearch .modal-body,
#HonorCardSearch .modal-body {
    overflow-y: scroll;
    padding: 20px 30px;
}
.SearchModal .SearchIntranet label .SubTitle {
    font-size: 12px;
    color: #aaa;
    margin-left: -5px;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
    display: inline-block;
}