/*
*
* Create by Wayne(WJDesign) 2019.02.09
*
*/
@charset "UTF-8";

.HeaderWrapper {
    width: 100%;
}
.HeaderWrapper .Logo {
    width: 220px;
    margin-top: 20px;
    cursor: pointer;
    display: block;
    float: left;
}
.HeaderWrapper .MenuWrapper {
    float: right;
    margin: 0;
    position: relative;
}
.HeaderWrapper .MenuWrapper .SubMenu {
    display: block;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    border-bottom: 1px solid #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0 20px;
    position: absolute;
    top: 0;
    right: 0;
}
/*SubMenu*/
.HeaderWrapper .MenuWrapper .SubMenu li {
    padding: 3px 5px;
    display: inline-block;
}
.HeaderWrapper .MenuWrapper .SubMenu .BorderRight {
    border-right: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 1px 0 0 rgba(255, 255, 255, .5);
    padding-right: 10px;
}
.HeaderWrapper .MenuWrapper .SubMenu li a {
    color: #777;
    font-size: 12px;
    text-decoration: none;
}
.HeaderWrapper .MenuWrapper .SubMenu li a i {
    margin-right: 5px;
}
.HeaderWrapper .MenuWrapper .SubMenu li span {
    color: #777;
    font-size: 12px;
}
.HeaderWrapper .MenuWrapper .SubMenu li span.CountNum {
    color: #ff7c7c;
}
/*MainMenu*/
.HeaderWrapper .MenuWrapper .MainMenu {
    padding-top: 30px;
}
.HeaderWrapper .MenuWrapper .MainMenu li {
    display: inline-block;
}
.HeaderWrapper .MenuWrapper .MainMenu li a:hover {
    color: #ff7c7c;
}
.HeaderWrapper .MenuWrapper .MainMenu li a.active {
    color: #ff7c7c;
}
.HeaderWrapper .MenuWrapper .MainMenu li a {
    color: #000;
    display: block;
    padding: 0 20px;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    position: relative;
}
.HeaderWrapper .MenuWrapper .MainMenu li a:after {
    content: '';
    display: inline-block;
    height: 20px;
    border-right: 1px solid #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -10px;
}
/*Carousel*/
.BodyWrapper .CarouselWrapper {
    position: relative;
}
.BodyWrapper .CarouselWrapper .Carousel .CarouselItems {
    display: block!important;
}
.BodyWrapper .CarouselWrapper .Carousel .CarouselItems img {
    width: 100%;
}
.BodyWrapper .CarouselWrapper .LoginWrapper {
    background: #000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 20%;
}
/*Marquee*/
.MarqueeWrapper {
    height: 40px;
    overflow: hidden;
    background: #2f2f2f;
}
.MarqueeWrapper .Marquee ul li a {
    text-decoration: none;
    line-height: 40px;
    color: #fff;
}
.MarqueeWrapper .Marquee ul li a i {
    margin-right: 5px;
}
.MarqueeWrapper .Marquee ul li a .name {
    text-decoration: underline;
    line-height: 40px;
    color: #ffaf03;
}
/*Activity*/
.BodyWrapper .ActivityWrapper {
    width: 100%;
    padding: 10px 0;
}
.BodyWrapper .ActivityWrapper .ActivityItems {
    padding: 10px;
}
.BodyWrapper .ActivityWrapper .ActivityItems .ActivityInfo {
    width: 100%;
}
.BodyWrapper .ActivityWrapper .ActivityItems .ActivityInfo .Title {
    margin: 0 auto;
    color: #fa8888;
    font-size: 16px;
    font-weight: normal;
    padding: 10px 0 5px;
}
.BodyWrapper .ActivityWrapper .ActivityItems .ActivityInfo .BtnSignUp.NoSignUp {
    background: #aaa;
}
.BodyWrapper .ActivityWrapper .ActivityItems .ActivityInfo .BtnSignUp {
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    background: #83d0c0;
    color: #fff;
    margin-top: 10px;
}
.BodyWrapper .ActivityWrapper .ActivityItems .ActivityInfo i {
    color: #fff;
    padding: 1px;
    text-align: center;
    border-radius: 50em;
    font-size: 12px;
    margin-right: 5px;
}
.BodyWrapper .ActivityWrapper .ActivityItems .ActivityInfo .City {
    color: #6ebfac;
}
.BodyWrapper .ActivityWrapper .ActivityItems .ActivityInfo .Date {
    color: #a797a1;
}
.BodyWrapper .ActivityWrapper .ActivityItems .ActivityInfo .Content {
    color: #67a3e2;
    width: 100%;
}
.BodyWrapper .ActivityWrapper .ActivityItems .ActivityInfo .City i {
    background: #6ebfac;
}
.BodyWrapper .ActivityWrapper .ActivityItems .ActivityInfo .Date i {
    background: #a797a1;
}
/*Video*/
.BodyWrapper .VideoWrapper {
    width: 100%;
    padding: 10px 0;
}
.BodyWrapper .VideoWrapper .VideoItems {
    padding: 10px;
}
/*DateSearch*/
.BodyWrapper .SearchByDate {
    padding: 0;
}
.BodyWrapper .SearchByDate .SearchDateWrapper .Calendar {
    width: 100%;
}
.BodyWrapper .SearchByDate .SearchDateWrapper .Calendar .fc-toolbar.fc-header-toolbar {
    padding-top: 1em;
}
.BodyWrapper .SearchByDate .SearchDateWrapper .fc td {
    height: 20px;
    text-align: center;
}
/*CitySearch*/
.BodyWrapper .SearchCityWrapper {
    width: 100%;
}
.BodyWrapper .SearchByCity {
    padding: 0;
    position: relative;
}
.BodyWrapper .SearchByCity .jsmaps-wrapper {
    width: 100%;
}
.BodyWrapper .SearchByCity .jsmaps-wrapper .jsmaps {
    width: 100%;
}
.BodyWrapper .SearchByCity .jsmaps-wrapper .jsmaps svg {
    left: 50%;
    margin-left: -175px;
    width: 350px;
    height: 400px;
}
.BodyWrapper .SearchByCity .jsmaps-wrapper .jsmaps-text {
    display: none!important;
}