/*
*
* Create by Wayne(WJDesign) 2019.02.09
*
*/
@charset "UTF-8";
.form-group {
    margin-bottom: 0;
}
.MemberLoginWrapper {
    width: 100%;
}
.MemberLoginWrapper .MemberLoginImg {
    width: 100%;
    margin-bottom: 10px;
}
.MemberLoginWrapper .LoginWrapper {
    width: 60%;
    margin: 10px auto 120px;
}
.MemberLoginWrapper .LoginWrapper h6 {
    left: 30px;
}
.MemberLoginWrapper .LoginWrapper .Login {
    margin: 10px auto;
    padding: 0 10px;
    display: flex;
}
.MemberLoginWrapper .LoginWrapper .Login .LoginExternal {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #eee;
}
.MemberLoginWrapper .LoginWrapper .Login .LoginExternal .Tips {
    width: 80%;
}
.MemberLoginWrapper .LoginWrapper .Login .LoginExternal a {
    width: 80%;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: center;
}
.MemberLoginWrapper .LoginWrapper .Login .LoginIntranet {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.MemberLoginWrapper .LoginWrapper .Login .LoginIntranet .Tips {
    width: 85%;
}
.MemberLoginWrapper .LoginWrapper .Login .LoginIntranet form {
    width: 85%;
}
.MemberLoginWrapper .LoginWrapper .Login .LoginIntranet .form-group {
    margin-bottom: 0;
}
.MemberLoginWrapper .LoginWrapper .Login .LoginIntranet .Remember,
.RegisterWrapper .IntranetRegister form .Agree {
    vertical-align: middle;
    font-size: 16px;
    line-height: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
}
.MemberLoginWrapper .LoginWrapper .Login .LoginIntranet label .SubTitle {
    font-size: 12px;
    color: #aaa;
    margin-left: -5px;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
    display: inline-block;
}
.MemberLoginWrapper .LoginWrapper .Login .LoginIntranet .Remember label {
    font-size: 12px;
}
.MemberLoginWrapper .LoginWrapper .Login .LoginIntranet .Remember input,
.RegisterWrapper .IntranetRegister form .Agree input {
    border-radius: 50%;
    border: 0;
    box-shadow: none;
    display: inline-block;
    vertical-align: bottom;
    width: 25px;
    height: 25px;
    background-size: cover;
    float: left;
    margin-right: -5px;
}
.MemberLoginWrapper .LoginWrapper .Login .LoginIntranet .BtnWrapper {
    display: flex;
    margin: 10px 0;
}
.MemberLoginWrapper .LoginWrapper .Login .LoginIntranet .BtnWrapper a {
    flex: 1;
}

/*RegisterModal - 會員註冊*/
#RegisterModal .modal-body {
    max-height: 70vh;
    overflow-y: scroll;
}
.RegisterWrapper {
    display: flex;
}
.RegisterWrapper .ExternalRegister {
    flex: 1;
}
.RegisterWrapper .ExternalRegister a {
    width: 85%;
    line-height: 36px;
    margin-top: 8rem;
}
.RegisterWrapper .IntranetRegister {
    flex: 1;
}
.RegisterWrapper .IntranetRegister form .Agree {
    font-size: 14px;
    margin: -5px 0 0;
}
.BtnWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}
.BtnWrapper a {
    flex: 1;
}
.BtnWrapper a:first-child {
    margin-right: 15px;
}

/*Match查詢工作*/
.MatchWrapper {
    width: 100%;
}
.MatchWrapper .Match {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.MatchWrapper .Match .form-group {
    align-items: center;
}
.MatchWrapper .Match .searchSelect {
    display: flex;
    flex: 0 0 50%;
    padding: 0 10px 10px 0;
}
.MatchWrapper .Match .searchInput {
    display: flex;
    flex: 0 0 100%;
    padding: 0 10px 10px 0;
}
.MatchWrapper .Match label {
    margin-bottom: 0;
    width: 8rem;
    text-align: center;
}
.MatchWrapper .Match select,
.MatchWrapper .Match input {
    flex: 1;
}
.MatchWrapper .MatchResultWrapper {
    width: 100%;
    display: flex;
}
.MatchWrapper .MatchResultWrapper {
    width: 100%;
    display: flex;
}

/*MatchResult*/
.BodyWrapper .MatchWrapper .MatchResult {
    display: flex;
    flex-wrap: wrap;
}
.BodyWrapper .MatchWrapper .MatchResultItems {
    padding: 10px;
    flex: 0 0 25%;
}
.BodyWrapper .MatchWrapper .MatchResultItems .MatchResultInfo {
    width: 100%;
}
.BodyWrapper .MatchWrapper .MatchResultItems .MatchResultInfo .Title {
    margin: 0 auto;
    color: #fa8888;
    font-size: 16px;
    font-weight: normal;
    padding: 10px 0 5px;
}
.BodyWrapper .MatchWrapper .MatchResultItems .MatchResultInfo .BtnSignUp.NoSignUp {
    background: #aaa;
}
.BodyWrapper .MatchWrapper .MatchResultItems .MatchResultInfo .BtnSignUp {
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    background: #83d0c0;
    color: #fff;
    margin-top: 10px;
}
.BodyWrapper .MatchWrapper .MatchResultItems .MatchResultInfo i {
    color: #fff;
    padding: 1px;
    text-align: center;
    border-radius: 50em;
    font-size: 12px;
    margin-right: 5px;
}
.BodyWrapper .MatchWrapper .MatchResultItems .MatchResultInfo .City {
    color: #6ebfac;
}
.BodyWrapper .MatchWrapper .MatchResultItems .MatchResultInfo .Date {
    color: #a797a1;
}
.BodyWrapper .MatchWrapper .MatchResultItems .MatchResultInfo .Content {
    color: #67a3e2;
    width: 100%;
}
.BodyWrapper .MatchWrapper .MatchResultItems .MatchResultInfo .City i {
    background: #6ebfac;
}
.BodyWrapper .MatchWrapper .MatchResultItems .MatchResultInfo .Date i {
    background: #a797a1;
}

/*Match Map*/
.MatchMapWrapper {
    width: 100%;
    padding: 10px;
}
.MatchMapWrapper iframe {
    width: 100%;
}